<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal Chatbot</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="gradient-background">
    <div class="chat-container gradient-background">
        <form action="/register" method="post">
            <div>
                <label for="username">Username : </label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="email">Email : </label>
                <input type="email" id="email" name="email">
            </div>
            <div>
                <label for="password">Password : </label>
                <input type="password" id="password" name="password">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
