<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/type.css">
</head>
<body>
    <form action="/type" method="post">
        <div class="container">
            <div class="box">
                <p>Mentor1</p>
                <input type="radio" name="type" value="mentor1">
            </div>
            <div class="box">
                <p>Mentor2</p>
                <input type="radio" name="type" value="mentor2">
            </div>
            <div class="box">
                <p>Mentor3</p>
                <input type="radio" name="type" value="mentor3">
            </div>
            <div class="box">
                <p>Mentor4</p>
                <input type="radio" name="type" value="mentor4">
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>